@import "../../../custom/assets/scss/params";

.n-lang-picker{
  color: $primary-color;
  display: block;
}

.n-flex{
  display: flex;
  align-items: center;
  .n-flex-left{
    flex: 1;
  }
  .n-flex-right{
    position: relative;
  }
}

.n-store-tip{
  font-size: 10px;
  color: $grey-f;
  background-color: $primary-color;
  position: absolute;
  border-radius: 4px;
  line-height: 1;
  padding: 2px 0;
  right: 0;
  bottom: -6px;
  width: 32px;
  text-align: center;
}
